
body{
    background-color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    margin: 0;
}

a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}
article #projeto a {
    display: block;
}
article #projeto a:hover{
    color: black;
    background-color: rgb(80, 80, 80,);
}

p {
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(95, 94, 94);
    padding: 3px;
    margin: none;
    font-size: 1.2vw;
    height: 20%;
}

header nav a{
    color: green;
}

main{
    font-size: 45px;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
}

article #projeto{
    border: 2px solid black;
    height: 200px;
    width: 300px;
    background-color: rgb(78, 77, 77);
}

article #projeto p{
    line-height: 1.5; /* ajusta o espaçamento entre linhas */
    margin: 5px 0; /* ajusta o espaçamento entre parágrafos */
}

footer{
    height: 1.2vx;
    margin-top: 50%;
    background-color: rgb(95, 94, 94);
    padding: 5px 20px;
}
