
body{
    background-color: rgb(78, 77, 77);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    margin: 0;
}

a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}
article #projeto a {
    display: block;
    color: green;
}
article #projeto a:hover{
    color: black;
}

p {
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 20px;
    margin: none;
    height: 40px;
    border-bottom: 2px solid green;
}

.logo{
    color: black;
    margin: 5px;
    font-size: 20px;
}

.logo a{
    color: black;
}

header nav a{
    color: green;
    margin: 5px;
    font-size: 20px;
}

main{
    font-size: 5vh;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
}

article #projeto{
    border: 2px solid black;
    height: 500px;
    width: 350px;
}

article #projeto img{
    height: 200px;
}

article #projeto p{
    line-height: 1.5; /* ajusta o espaçamento entre linhas */
    margin: 5px 0; /* ajusta o espaçamento entre parágrafos */
}

footer{
    border-top: 2px solid green;
    height: 1.2vx;
    margin-top: 50%;
    padding: 5px 20px;
}
